<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviando arquivo</title>
</head>

<body>
    <h1>Enviando Imagens</h1>
    <form action="/users/register" method="post" enctype="multipart/form-data">
        <h2>Envie uma Imagem</h2>
        <input type="file" name="img" id="file" multiple>
        <button type="submit">Enviar</button>
    </form>
</body>

</html>